/.gradle/
build/
*/build/
local.properties
/.idea
/*.iml
/.idea/workspace.xml
/.idea/caches/
/.idea/libraries/

*.log
/*.jks
/*.keystore

/app/google-services.json
/app/src/main/java/apw/android/notes/ui/composables/TestNotes.kt
/app/src/main/java/apw/android/notes/ui/composables/CreateNewTest.kt
/*.class
/out/